{% extends 'SSEICSSBundle::dynamic.html.twig' %}
{% block title %}{{ company.name }}{% endblock %}
{% block basebodyclass %}body-company-detail{% endblock %}
{% block body %}
    <div class="detail detail__companies">
        <h2>{{ company.name }}</h2>
        {% autoescape false %}
            <div class="detail--body">{{ company.intro }}</div>
        {% endautoescape %}
    </div>
{% endblock %}