.link-button
  background: none
  border: 0
  border-radius: 0
  border-top: 0
  border-left: 3px solid transparent
  color: #444
  position: relative
  display: block
  padding: 10px 15px
  outline: 0
  width: 100%
  text-align: left

.link-button:hover,.link-button:focus
  color: #444
  background: #f7f7f7

.link-button>.fa, .link-button>.glyphicon, .link-button>.ion
  margin-right: 5px