<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/recruit/upload" method="post" enctype="multipart/form-data">
    <p>upload:
        <input type="number" name="archiveTypeId">
        <input type="number" name="applyId">
        <input type="text" name="archiveName">
        <input type="file" name="archiveFile" />
        <input type="submit" value="upload" />
    </p>
</form>
</body>
</html>