{% extends "SSEICSSBundle::dynamic.html.twig" %}
{% block title %}实习就业服务系统{% endblock %}
{% block basebodyclass %}body-index{% endblock %}
{% block body %}
    <div class="index">
        <div class="index-row">
            <div class="index__news">
                <div class="index__news--images"><img src="{{ asset('bundles/sseicss/img/01.jpg') }}"></div>
                <div class="index__news--desc">我院毕业生在微软公司的合影</div>
            </div>
            <div class="index__pad"></div>
            <div class="index__recruits">

            </div>
        </div>
    </div>
{% endblock %}