<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block icss_title %}软件学院 · 实习就业服务系统{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/sseicss/css/icss.css') }}">
</head>
<body>
<div class="container">
    <div class="header"><img class="header__icon" src="{{ asset('bundles/sseicss/img/logo.png') }}"></div>
    <div class="main">
        {% block body %}

        {% endblock %}
    </div>
</div>
<div class="nav">
    <a class="main-nav__item" data-dynamic href="javascript:">首页</a>
    <a class="main-nav__item" data-dynamic href="javascript:">招聘信息</a>
    <a class="main-nav__item" data-dynamic href="javascript:">企业列表</a>
    <a class="main-nav__item" data-dynamic href="javascript:">文件下载</a>
</div>
<div class="sub-nav">
    <div class="sub-nav--left">
        版权所有 (C) 同济大学软件学院 · <a data-dynamic href="javascript:">开发团队</a> · <a href="javascript:">软件学院网站</a>
    </div>
    <div class="sub-nav--right">
        <a class="sub-nav__item" data-dynamic href="javascript:">常见问题</a>
        <a class="sub-nav__item" data-dynamic href="javascript:">联系我们</a>
    </div>
</div>
</body>
</html>