<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block icss_title %}软件学院 · 实习就业服务系统{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/sseicss/css/icss.css') }}">
</head>
<body class="{% block bodyclass %}{% endblock %}">
<div class="container">
    <div class="header clearfix">
        <div class="float-left">
            <a href="{{ url('index') }}" target="_self">
                <img class="header__icon" src="{{ asset('bundles/sseicss/img/logo.png') }}">
            </a>
        </div>
        <div class="float-right">
            <div class="header-button">登录</div>
        </div>
    </div>
    <div class="main">{% block body %}{% endblock %}</div>
    <div class="footer clearfix">
        <div class="float-left">
            版权所有 (C) 同济大学软件学院 · <a data-dynamic href="javascript:">开发团队</a> · <a href="javascript:">软件学院网站</a>
        </div>
        <div class="float-right">
            <a class="footer__item" data-dynamic href="javascript:">常见问题</a>
            <a class="footer__item" data-dynamic href="javascript:">联系我们</a>
        </div>
    </div>
</div>
<div class="nav">
    <div class="page">
        {% spaceless %}
            <a class="nav__item" data-dynamic href="javascript:">
                <div class="nav__item--text">首页</div>
                <div class="nav__item--strip"></div>
            </a>
            <a class="nav__item" data-dynamic href="javascript:">
                <div class="nav__item--text">招聘信息</div>
                <div class="nav__item--strip"></div>
            </a>
            <a class="nav__item" data-dynamic href="javascript:">
                <div class="nav__item--text">企业列表</div>
                <div class="nav__item--strip"></div>
            </a>
            <a class="nav__item" data-dynamic href="javascript:">
                <div class="nav__item--text">文件下载</div>
                <div class="nav__item--strip"></div>
            </a>
        {% endspaceless %}
    </div>
</div>
</body>
</html>