html, body
  height: 100%
  margin: 0

h1, h2, h3, h4, h5, body, input, select, button
  font-weight: normal
  font-family: "Open Sans", Tahoma, arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STHeiti, "Microsoft YaHei", sans-serif

body, input, select, button
  font-size: 16px

.body-base-html
  background: url(../img/bg.jpg) center center
  background-attachment: fixed
  background-size: cover

.body-base-html, .body-simple-html
  color: #EEE

a, a:visited, a:active
  color: $primary
  text-decoration: none

a:hover
  color: lighten($primary, 50%)
  text-decoration: underline

.container
  min-height: 100%
  box-sizing: border-box
  position: relative
  padding-bottom: 50px
  display: flex
  flex-direction: column

.footer
  line-height: 40px
  font-size: 12px
  opacity: 0.8
  margin-top: 30px

.page, .container
  width: 1000px
  margin: 0 auto

.header
  padding: 40px 0

.header-right
  margin-top: 20px

.header-button
  display: inline-block
  padding: 10px 20px
  line-height: 20px
  border: 1px solid transparent
  transition: border-color .2s linear
  cursor: pointer

.header-button:hover
  border-color: rgba(#FFF, 0.5)

.nav
  position: fixed
  left: 0
  width: 100%
  height: 50px
  bottom: 0
  background: rgba(#000, 0.4)

.main
  flex: 1
  display: flex

.header__icon
  width: 431px
  height: 96px