.detail--info
  font-size: 14px
  line-height: 2

.detail--body
  line-height: 1.5
  font-size: 14px
  margin-top: 30px

  p
    margin: 10px 0

.detail-two-column
  display: flex
  flex-direction: row

  .detail-left
    flex: 1
    padding-right: 90px

  .detail-right
    width: 300px