.detail--info
  font-size: 14px
  line-height: 2

.detail--body
  line-height: 1.5
  font-size: 13px
  margin-top: 50px
  border-top: 1px solid rgba(#FFF, 0.5)
  padding-top: 50px

  p
    margin: 10px 0
