.index
  display: flex
  flex: 1
  flex-direction: column
  justify-content: center

.index-row
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

.index__news
  width: 360px
  height: 270px
  position: relative

.index__news--desc
  position: absolute
  left: 0
  width: 100%
  bottom: 0
  line-height: 40px
  background: rgba(#000, 0.7)
  color: #FFF
  text-align: center
  font-size: 14px

.index__pad
  flex: 1

.index__recruits
  width: 400px

.index__recruits--item
  font-size: 13px
  margin: 10px 0

.index__recruits--more
  padding-left: 50px

.index__recruits--more a, .index__recruits--more a:visited
  font-size: 30px
  color: #888
  &:hover
    color: #333
    text-decoration: none