.index
  display: flex
  flex: 1
  flex-direction: column
  justify-content: center

.index-row
  display: flex
  flex-direction: row

.index__news
  width: 360px
  height: 270px
  position: relative

.index__news--desc
  position: absolute
  left: 0
  width: 100%
  bottom: 0
  line-height: 40px
  background: rgba(#000, 0.7)
  text-align: center
  font-size: 14px

.index__pad
  width: 30px

.index__recruits
  flex: 1
