.nav
  z-index: 99999

.nav__item, .nav__item:visited
  text-align: center
  display: inline-block
  padding: 7px 20px 10px 20px
  line-height: 30px
  text-decoration: none
  color: $primary
  position: relative
  color: #FFF
  border-top: 3px solid transparent
  transition: border-color .2s linear, background .2s linear
  z-index: 1

.nav__item:hover
  color: #FFF
  text-decoration: none
  border-color: #2FC5FF
  background: rgba(#000, 0.5)