.pagination
  margin: 10px 0
  font-size: 13px

  a, span
    display: inline-block
    padding: 5px 10px
    line-height: 20px

  a:hover
    border: 1px solid rgba(#FFF, 0.3)
    padding: 4px 9px
    text-decoration: none

  .disabled
    opacity: 0.5

  .active
    background: rgba($primary, 0.3)
    color: #FFF