.list__recruits
  flex: 1

.list__recruits--item
  font-size: 13px
  border-bottom: 1px dotted rgba(#FFF, 0.3)
  padding: 10px
  display: flex
  flex-direction: row
  &:hover
    background: rgba(#000, 0.4)
  .date
    margin-right: 10px
  .title
    flex: 1