.list__recruits--item .date
  margin-right: 10px

.recruit-apply-dialog-wrap
  display: flex
  align-items: center
  justify-content center
  flex: 1

.apply-button
  margin-top: 30px

.recruit-apply-dialog
  background: #FFF
  box-shadow: 0 5px 10px rgba(#000, 0.1)
  padding: 30px

  &.dialog-error
    border-top: 5px solid #EA594F

  &.dialog-info
    border-top: 5px solid lighten($primary, 20%)

  .recruit-dialog-content
    min-width: 600px
    min-height: 120px

.recruit-apply-view
  textarea
    width: 600px
    height: 130px
  .flash-notice
    background: #00a65a
    color: #FFF
    padding: 15px
    margin-bottom: 20px
    border-radius: 3px
    
.recruit-apply-two-column
  display: flex
  flex-direction: row
  flex: 1

  .recruit-apply-view
    padding-right: 50px
  
  .recruit-apply-archives
    flex: 1
    
    table
      width: 100%
    
    td, th
      padding: 5px
      text-align: left
      font-weight: normal
      border: 1px solid #DDD