.list__recruits--item .date
  margin-right: 10px

.apply-button, .apply-button:visited
  display: inline-block
  padding: 5px 10px
  background: #E0E0E0
  margin-top: 30px
  color: #222
  transition: background .2s linear

  &:hover
    background: $primary
    color: #FFF
    text-decoration: none