{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}

    {% for status in object.getArchiveStatus() %}
        <span class="label {% if status.submitted %}label-success{% else %}label-danger{% endif %}">{{ status.archiveType.getName() }}
            : {% if status.submitted %}已递交{% else %}未递交{% endif %}</span>
    {% endfor %}

{% endblock %}