{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}

    {% for status in object.getArchiveStatus() %}
        {% if status.submitted %}
            <a href="{{ path('consoleListApplyArchives', {applyid: object.getId()}) }}" target="_self">
            <span class="label label-success">{{ status.archiveType.getName() }}
                : 已递交</span>
            </a>
        {% else %}
            <span class="label label-danger">{{ status.archiveType.getName() }}
                : 未递交</span>
        {% endif %}
    {% endfor %}

{% endblock %}